@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    
}

.container{
    max-width: 320px;
    /* height: 497px; */
    margin: 0 auto;
    
}
.card{
    background-color: white;
    margin: 0 10px;
    padding: 13px;
    border-radius: 10px;
}
.card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.text{
    text-align: center;
   
}
.text h2{
    margin-bottom: 18px;
    color: hsl(218, 44%, 22%);
}
.text p{
    margin-bottom: 18px;
color: hsl(220, 15%, 55%);
}